#define TAPPING_TERM 200
#define QUICK_TAP_TERM 150


ht: hold_tap {
    label = "hold_tap";
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    require-prior-idle-ms = <120>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
};

mo_sl: behavior_mo_sl {
    label = "mo_sl";
    compatible = "zmk,behavior-hold-tap";
    #binding-cells = <2>;
    flavor = "hold-preferred";
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <QUICK_TAP_TERM>;
    bindings = <&mo>, <&sl>;
};