/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERT 1
#define LOWER 2
#define RAISE 3
#define FUNC  4

/ {
    keymap {
        compatible = "zmk,keymap";

                colem_layer {
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ESC     │  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ;:      │  QWERT
            &kp ESC    &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J     &kp L       &kp U      &kp Y      &kp SEMI   &tog QWERT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CTRL/TAB │  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │  O       │  '"
        &mt LCTRL TAB  &kp A      &kp R      &kp S      &kp T      &kp G          &kp M      &kp N      &kp E      &kp I      &kp O      &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
        //│ SHFT     │  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │  , <     │  . >     │  / ?     │  ALT `
           &kp LSHFT   &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH   &mt RALT GRAVE
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  GUI     │  LWR/ESC │  SPC     │   │  ENT     │  RAISE   │  BKSP    │
                                           &kp LGUI  &lt LOWER ESC &kp SPACE      &kp RET    &mo RAISE  &kp BSPC
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };

                qwerty_layer {
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ESC     │  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │  COLEM
            &kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y     &kp U       &kp I      &kp O      &kp P      &tog QWERT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CTRL/TAB │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  ;:      │  '"
        &mt LCTRL TAB  &kp A      &kp S      &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
        //│ SHFT     │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │  , <     │  . >     │  / ?     │  ALT `
           &kp LSHFT   &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &mt RALT GRAVE
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  GUI     │  LWR/ESC │  SPC     │   │  ENT     │  RAISE   │  BKSP    │
                           &kp LGUI  &lt LOWER ESC &kp SPACE      &kp RET    &mo RAISE  &kp BSPC
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };

                lower_layer {
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  ESC     │  1       │  2       │  3       │  4       │  5       │   │  6       │  7       │  8       │  9       │  0       │  `
            &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5         &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp GRAVE
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  !       │  @       │  #       │  $       │  %       │   │  ^       │  &       │  *       │  (       │  )       │  :
            &trans     &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS &kp KP_MULTIPLY &kp LPAR  &kp RPAR   &kp COLON
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
        //│ SHFT     │  ~       │  +       │  -       │  {       │  [       │   │  ]       │  }       │  =       │  _       │          │
           &kp LSHFT   &kp TILDE  &kp PLUS   &kp MINUS  &kp LBRC   &kp LBKT       &kp RBKT   &kp RBRC &kp KP_EQUAL &kp UNDER  &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  GUI     │          │  SPC     │   │          │          │  ALT     │
                                             &kp LGUI   &trans     &mo FUNC       &trans     &trans     &kp RALT
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };

                raise_layer {
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │          │   │  INS     │  HOME    │  PAGEUP  │          │          │  PRINT
            &trans     &trans     &trans     &trans     &trans     &trans         &kp INS    &kp HOME   &kp PG_UP  &trans     &trans     &kp PRINTSCREEN
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │          │   │  DEL     │  END     │ PAGEDOWN │          │          │  BREAK
            &trans     &trans     &trans     &trans     &trans     &trans         &kp DEL    &kp END    &kp PG_DN  &trans     &trans     &kp PAUSE_BREAK
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
        //│          │          │          │          │          │          │   │          │          │          │          │          │
            &trans     &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  GUI     │  ALT     │          │   │          │          │          │
                                             &kp LGUI   &kp LALT   &trans         &trans     &trans    &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };

                function_layer {
                        bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │          │   │  VOL+    │  BRIGHT+ │          │          │          │
            &reset     &trans     &trans     &trans     &trans     &trans      &kp C_VOLUME_UP   &kp C_BRIGHTNESS_INC &trans  &trans  &trans &reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  BTCLR   │  BT1     │  BT2     │  BT3     │  BT4     │  BT5     │   │  VOL-    │  BRIGHT- │          │          │          │
  &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &kp C_VOLUME_DOWN &kp C_BRIGHTNESS_DEC &trans  &trans  &trans &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
        //│          │          │          │          │          │          │   │  MUTE    │          │          │          │          │  OUT_TOG
            &trans     &trans     &trans     &trans     &trans     &trans         &kp C_MUTE &trans     &trans     &trans     &trans     &out OUT_TOG
        //╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │          │          │          │   │          │          │          │
                                             &trans     &trans     &trans         &trans     &trans     &trans
        //                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
                        >;
                };
    };
};
