/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Home row mods macro
#define HRML(k2,k3,k4) &ht LALT k2 &ht LCTRL k3  &ht LSHIFT k4
#define HRMR(k1,k2,k3) &ht RSHIFT k1  &ht RCTRL k2  &ht RALT k3

#define QWERT 1
#define LOWER 2
#define RAISE 3
#define NAV   4
#define FUNC  5

/ {
    behaviors {
	ht: hold_tap {
	    label = "hold_tap";
	    compatible = "zmk,behavior-hold-tap";
	    #binding-cells = <2>;
	    flavor = "tap-preferred";
	    tapping-term-ms = <220>;
	    quick-tap-ms = <150>;
	    global-quick-tap;
	    bindings = <&kp>, <&kp>;
	};
    };

    keymap {
	compatible = "zmk,keymap";

		colem_layer {
			bindings = <
	//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
	//│  `~      │  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ;:      │ \|
	    &kp GRAVE  &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J     &kp L       &kp U      &kp Y      &kp SEMI   &kp BSLH
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
	//│ TAB      │  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │  O       │  '"
	    &kp TAB    &kp A      HRML(R,        S,      T)        &kp G          &kp M      HRMR(N,        E,         I)     &kp O      &kp SQT
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
	//│          │  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │  , <     │  . >     │  / ?     │
	   &none       &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH   &none
	//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
	//                                 │  GUI     │  LWR/ESC │  NAV/SPC │   │  ENT     │  RAISE   │  BKSP    │
					   &kp LGUI  &lt LOWER ESC &lt NAV SPACE &lt NAV RET &mo RAISE  &kp BSPC
	//                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
		};

		qwerty_layer {
			bindings = <
	//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
	//│  `~      │  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │ \|
	    &kp GRAVE  &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y     &kp U       &kp I      &kp O      &kp P      &kp BSLH
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
	//│ TAB      │  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │  ;:      │  '"
	   &kp TAB     &kp A      HRML(S,        D,         F)     &kp G          &kp H      HRMR(J,        K,         L)     &kp SEMI   &kp SQT
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
	//│          │  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │  , <     │  . >     │  / ?     │
	   &none       &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &none
	//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
	//                                 │  GUI     │  LWR/ESC │  NAV/SPC │   │  ENT     │  RAISE   │  BKSP    │
					   &kp LGUI  &lt LOWER ESC &lt NAV SPACE &lt NAV RET &mo RAISE  &kp BSPC
	//                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
		};

		lower_layer {
			bindings = <
	//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
	//│          │  1       │  2       │  3       │  4       │  5       │   │  6       │  7       │  8       │  9       │  0       │
	    &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5         &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &trans
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
	//│          │  !       │  @       │  #       │  $       │  %       │   │  ^       │  &       │  *       │  (       │  )       │
	    &trans     &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS &kp KP_MULTIPLY &kp LPAR  &kp RPAR   &trans
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
	//│          │          │  +       │  -       │  {       │  [       │   │  ]       │  }       │  =       │  _       │          │
	   &trans      &trans     &kp PLUS   &kp MINUS  &kp LBRC   &kp LBKT       &kp RBKT   &kp RBRC &kp KP_EQUAL &kp UNDER  &trans     &trans
	//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
	//                                 │          │          │  FUNC    │   │          │  ALT     │          │
					     &trans     &trans     &mo FUNC       &trans     &kp RALT   &trans
	//                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
		};

		raise_layer {
			bindings = <
	//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
	//│          │          │          │          │          │          │   │  INS     │  HOME    │ PAGE UP  │          │          │  PRINT
	    &trans     &trans     &trans     &trans     &trans     &trans         &kp INS    &kp HOME   &kp PG_UP  &trans     &trans     &kp PRINTSCREEN
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
	//│          │          │          │          │          │          │   │  DEL     │  END     │ PAGE DOWN│          │          │  BREAK
	    &trans     &trans     &trans     &trans     &trans     &trans         &kp DEL    &kp END    &kp PG_DN  &trans     &trans     &kp PAUSE_BREAK
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
	//│          │          │          │          │          │          │   │          │          │          │          │          │
	    &trans     &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans     &trans     &trans
	//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
	//                                 │          │  ALT     │          │   │          │          │          │
					     &trans     &kp LALT   &trans         &trans     &trans    &trans
	//                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
		};

		navigation_layer {
			bindings = <
	//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
	//│          │          │          │          │          │          │   │          │          │          │          │          │
	    &trans     &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans     &trans     &trans
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
	//│          │          │          │          │          │          │   │  LEFT    │  DOWN    │  UP      │  RIGHT   │          │
	    &trans     &trans     &trans     &trans     &trans     &trans         &kp LARW   &kp DARW   &kp UARW   &kp RARW   &trans     &trans
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
	//│          │          │          │          │          │          │   │          │          │          │          │          │
	    &trans     &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans     &trans     &trans
	//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
	//                                 │          │          │          │   │          │          │          │
					     &trans     &trans     &trans         &trans     &trans    &trans
	//                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
		};

		function_layer {
			bindings = <
	//╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
	//│ CLEAR BT │          │          │          │          │PROFILE 0 │   │  VOL+    │          │          │          │          │  BRIGHT+
	    &bt BT_CLR &trans     &trans     &trans     &trans   &bt BT_SEL 0   &kp C_VOL_UP &trans     &trans     &trans     &trans   &kp C_BRI_UP
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
	//│          │          │          │          │          │PROFILE 1 │   │  VOL-    │          │          │          │          │  BRIGHT-
	    &trans     &trans     &trans     &trans     &trans   &bt BT_SEL 1   &kp C_VOL_DN &trans     &trans     &trans     &trans   &kp C_BRI_DEC
	//├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┬──────────┼──────────┤
	//│ LAYOUT   │          │          │          │          │PROFILE 2 │   │  MUTE    │          │          │          │          │  OUT_TOG
	    &tog QWERT &trans     &trans     &trans     &trans   &bt BT_SEL 2   &kp C_MUTE   &trans     &trans     &trans     &trans   &out OUT_TOG
	//╰──────────┴──────────┴──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
	//                                 │          │          │          │   │          │          │          │
					     &trans     &trans     &trans         &trans     &trans     &trans
	//                                 ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
		};
    };
};
